body
{
    background-color: rgb(152, 152, 196);
}
:root 
{
    --favcolor:rgb(28, 145, 204);
}
h1
{
    text-align: center;
    color: var(--favcolor);
    background-color:rgb(25,25,112);
    font-size: 36pt;
}

ul
{
    font-size: 18pt;
}
p
{
    font-size: 15pt;
    color: black;
    text-align: left;
    clear: both;
}
iframe
{
    width: 90vw;
    height: 50.63vw
}
#homebutton
{
    width: 150px;
}