body
{
    background-color: rgb(70, 70, 109);
}
h1
{
    text-decoration: underline;
    text-align:center;
    color:rgb(113, 62, 148)
}
ul
{
    font-size: 18pt;
}
p
{
    font-size: 18pt;
    color: black;
    text-align: left;
}