:root 
{
    --favcolor:rgb(28, 145, 204);
}
h1
{
    text-align: center;
    color: var(--favcolor);
    background-color:rgb(25,25,112);
    font-size: 38pt;
}
section
{
    color: var(--favcolor);
    float:right;
}
p
{
    text-align: center;
    font-size: 16pt;
}
#profilepic
{
    border-radius: 40%;
    text-align: center;
}
#RBGpic
{
    border-radius: 30%;
}
.button
{
    text-align: center;
}