caption
            {
                text-decoration:underline;
                font-size:28px;;
            }
            th
            {
                width:200px;
                font-size:20px;
            }
            th,td
            {
                border:5px solid blue;
                padding-left:10px;
                padding-right:10px;
                padding-top:10px;
                padding-bottom:10px
            }
            table
            {
                border-spacing:0px
            }
            .tableheader
            {
                text-decoration:underline
            }