body
{
    background-color: rgb(152, 152, 196);
}
:root 
{
    --favcolor:rgb(28, 145, 204);
}
h1
{
    text-align: center;
    color: var(--favcolor);
    background-color:rgb(25,25,112);
    font-size: 38pt;
}
#resumepic
{
    border-radius: 40%;

}
section h2
{
    font-size: 28pt;
    margin: 5px;
    color: rgb(25,25,112);
}
section
{
    border: 3px solid rgb(28, 145, 204);
    margin: 20px;
    padding: 10px;

}
.date
{
  color: rgb(71, 5, 116);
  display: block;
}
ul
{
    font-size: 18pt;
}
