body
{
    background-color: rgb(114, 168, 230);
}
:root 
{
    background-color: rgb(6, 4, 39);
}
h1
{
    text-align: center;
    color: rgb(6, 3, 54);
    background-color:rgb(78, 184, 141);
    font-size: 36pt;
}
h2
{
    font-size: 30pt;
    color:rgb(133, 55, 55)

}

ul
{
    font-size: 18pt;
    color:black;
    text-align: left;

}
p
{
    font-size: 15pt;
    color: black;
    text-align: left;
    clear: both;
}
.button
{
    width: 100px;
}