body
{
    background-color:#adcca1;
}
:root 
{
    background-color: #48644d;
}
h1
{
    text-align: center;
    color: rgb(6, 3, 54);
    background-color:rgb(122,220,180);
    font-size: 36pt;
}
h2
{
    font-size: 30pt;
    color:rgb(211, 25, 25)

}

ul
{
    font-size: 18pt;
    color:black;
    text-align: left;

}
p
{
    font-size: 15pt;
    color: black;
    text-align: left;
    clear: both;
}
.button
{
    width: 100px;
}
.lhsbutton
{
    border-radius: 1%;
    border-color: #48644d;
}