body
{
    background-color: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);
}
:root 
{
    background-color: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);
}
h1
{
    text-align: center;
    color: rgb(6, 3, 54);
    background-color:rgb(122,220,180);
    font-size: 36pt;
}
h2
{
    font-size: 30pt;

}

ul
{
    font-size: 18pt;
    color:black;
    text-align: left;

}
p
{
    font-size: 15pt;
    color: black;
    text-align: left;
    clear: both;
}
.button
{
    width: 100px;
}